/* Sibar background color set to white */
.main-sidebar
{
    background-color: #fff;
}
/* Active main menu item */
.nav-sidebar .nav-item > .nav-link.active {
    background-color: #17a2b8 !important;
    color: #fff !important;
}

/* Active submenu item */
.nav-sidebar .nav-treeview .nav-item > .nav-link.active {
    background-color: #5bc0de !important; /* Lighter shade of #17a2b8 */
    color: #fff !important;
}

/* Hover effect for submenu items */
.nav-sidebar .nav-treeview .nav-item > .nav-link:hover {
    background-color: #31b0d5 !important; /* Slightly darker than active */
    color: #fff !important;
}
.nav .nav-treeview
{
    background-color: #edecec;
}
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

.content-wrapper {
    flex: 1; /* Pushes the footer down */
}